h2, h3 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.actions-ensaio {
    display: flex;
    gap: 1rem;
}

.music-info {
    display: flex;
    align-items: center;
}

.music-info > h3 > span {
    font-size: 1.5rem;
}

.membro-equipe {
    background-color: #c3c3c3;
    border-radius: 1rem;
    display: inline-flex;
    align-items: center;
    padding: .25rem .5rem .25rem .5rem;
    font-size: .80rem;
    font-weight: 500;
}

.crud-box form {
    grid-template-columns: repeat(2, 1fr);
}
