.section-title {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.item header {
    padding: 0 0 0 .25rem;
    border-left: .4rem solid #003399;
}

.item header h3 {
    font-size: 1.5rem;
    flex: 1 0 100%;
}

.item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.membro-equipe {
    background-color: #c3c3c3;
    border-radius: 1rem;
    display: inline-flex;
    align-items: center;
    padding: .25rem .5rem .25rem .5rem;

    font-size: .80rem;
    font-weight: 500;
}

.repertorio {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    font-size: .95rem;
}

.musica {
    display: flex;
    align-items: center;
}

.musica span {
    font-weight: 100;
    border: 1px solid #c3c3c3;
    padding: .15rem .5rem .15rem .5rem;
    border-radius: 5rem;
    font-weight: 500;
    font-size: .8rem;
    margin-left: .5rem;
}

footer {
    display: flex;
    gap: .5rem;
}

.btn-view {
    flex: 1 0;
}

