
.cards {
    flex-grow: 0;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap: 1rem;
}

.cards article {
    height: 7rem;
    border: 1px solid #c3c3c3;
    border-radius: .75rem;
    padding: 1rem;
    line-height: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cards .material-symbols-outlined {
    color: #64748b;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-cont {
    font-weight: bold;
    font-size: 1.5rem;
}

.main-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.5rem;
}

.main-box section {
    border: 1px solid #c3c3c3;
    border-radius: .75rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-box > section > header {
    line-height: 1.5rem;
    padding: 0;
}

.item {
    /* Layout */
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
   /*  transition: box-shadow .2s ease; */
}

.item:hover {
    cursor: pointer;
    box-shadow: 0px 0px 1px rgba(58, 1, 247, 0.5)
}

.item-info {
    /* Layout */
    display: flex;
    align-items: center;
    gap: 1rem;
}

.item-time-count {
    font-weight: bold;
    color: #003399;
    display: flex;
    justify-content: center;
}
