
.cards {
    flex-grow: 0;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap: 1rem;
}

.cards article {
    height: 7rem;
    border: 1px solid #c3c3c3;
    border-radius: .75rem;
    padding: 1rem;
    line-height: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cards .material-symbols-outlined {
    color: #64748b;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-cont {
    font-weight: bold;
    font-size: 1.5rem;
}

.main-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 80%);
    gap: 1.5rem;
}

.main-box > section {
    border: 1px solid #c3c3c3;
    border-radius: .75rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 45%; */
}

.main-box > section > header {
    line-height: 1.5rem;
    padding: 0;
}

.item {
    /* Layout */
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    transition: background-color .3s ease;
}

.item:hover {
    cursor: pointer;
    background-color: #f3f3f3;
}

.item-info {
    /* Layout */
    display: flex;
    align-items: center;
    gap: 1rem;
}

.item-info div {
    display: flex;
    align-items: center;
}

.item-time-count {
    font-weight: bold;
    color: #003399;
    display: flex;
    justify-content: center;
}

.item-info .material-symbols-outlined {
    font-size: 1.3rem;
}

.itens {
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.notifications .itens p {
    color: #5f5f5f;
}
