/* header {
    display: flex;

    flex-flow: row nowrap;
} */

.music-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
}

.input-search {
    margin-top: .25rem;
    border: 1px solid #c3c3c3;
    border-radius: .5rem;
    width: 100%;
    padding: 1rem 1rem 1rem 3rem;
    color: #020822;
    transition: box-shadow .2s ease;
    font-size: 1rem;
}

.input-search:focus {
    outline: none;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
}

.input-search::placeholder, .input-box > span {
    color: #02082280;
}

.input-box {
    position: relative;
}

.input-box span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1rem;
}

.box-music {
    gap: .5rem;
}

.original-version {
    width: fit-content;
    margin-top: 1rem;
}

.music-links a {
    text-decoration: none;
    color: #020822;
}

.music-info span {
    border: 1px solid #c3c3c3;
    padding: .25rem;
    border-radius: 5rem;
    font-weight: 500;
    font-size: .8rem;
}

.edit-music {
    display: flex;
    align-items: end;
    justify-content: end;
}