main>header>h2 {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.music-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
}

.input-search {
    padding: 1rem 1rem 1rem 3rem;
}

.input-search::placeholder,
.input-box>span {
    color: #02082280;
}

.input-box {
    position: relative;
}

.input-box span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1rem;
}

.box-music {
    gap: .5rem;
    display: grid;
    grid-template-columns: 1fr auto;
}

.box-music>header>p {
    /* color: #808390; */
    font-weight: 300;
}

.box-music .material-symbols-outlined {
    font-size: 1.3rem;
}

.original-version {
    width: fit-content;
    margin-top: 1rem;
}

.music-links a {
    text-decoration: none;
    color: #020822;
}

.music-info {
    display: flex;
    justify-content: end;
    align-items: flex-start;
    gap: .25rem;
}

.music-info span {
    border: 1px solid #c3c3c3;
    padding: .25rem .5rem;
    border-radius: 5rem;
    min-width: 2rem;
    font-weight: 500;
    font-size: .8rem;
    text-align: center;
}

.actions-music {
    display: flex;
    align-items: end;
    justify-content: end;
    gap: .5rem;
}