main {
    display: grid;
    grid-template-columns: 1fr 25%;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: 
        "perfil status"
        "perfil estatisticas"
    ;
}

.perfil {
    grid-area: perfil;
    display: flex;
    flex-direction: column;
    gap: .5rem;

}

input {
    border: 1px solid #c3c3c3;
    padding: 1rem;
    border-radius: .5rem;
    margin-bottom: 1rem;
}

input:focus {
    outline: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .4);
}

.perfil header {
    margin-bottom: 3rem;
}

.habilidades span {
    background-color: #e3e3e3;
    padding: .5rem;
    border-radius: 1rem;
    font-weight: 300;
    margin-right: .5rem;
}

label {
    font-weight: 500;
}

.status {
    grid-area: status;
}

.estatisticas {
    grid-area: estatisticas;
}

button {
    padding: .25rem .5rem .25rem .5rem;
}