@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: "Montserrat", sans-serif;
    color: #020822;
    /* Layout */
    display: grid;
    grid-template-columns: 16rem 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar main"
    ;
}

button {
    font-family: "Montserrat", sans-serif;
}

header {
    padding: 1rem 1.5rem 1rem 1.5rem;
    /* padding: 2rem; */
    grid-area: header;
    display: flex;
    justify-content: space-between;
}

.sidebar {
    grid-area: sidebar;
    background-color: #003399;
    color: #fff;
    padding: 2rem;
}

.sidebar a {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

.sidebar-title {
    margin-bottom: 2rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.sidebar-title h1 {
    font-size: 16pt;
} 

.sidebar-title img {
    width: 32px;
}

.sidebar-menu li, .exit div {
    padding: .5rem .75rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    border-radius: .75rem;
    transition: background-color .3s ease;
}

.sidebar-menu li:hover, .exit div:hover {
    background-color: #002265;
    cursor: pointer;
}

.sidebar-menu .exit {
    border-top: 1px solid #c3c3c3;
    margin-top: 2rem;
    padding-top: 2rem;
}

.sidebar-menu .exit div {
    display: flex;
    align-items: center;
    gap: .5rem;
    transition: background-color .3s ease;
}

main {   
    grid-area: main;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
}

.cards {
    flex-grow: 0;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap: 1rem;
}

.cards article {
    height: 7rem;
    border: 1px solid #c3c3c3;
    border-radius: .75rem;
    padding: 1rem;
    line-height: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cards .material-symbols-outlined {
    color: #64748b;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-cont {
    font-weight: bold;
    font-size: 1.5rem;
}

.main-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.5rem;
}

.main-box section {
    border: 1px solid #c3c3c3;
    border-radius: .75rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.itens {
    flex-grow: 1;
}

.item {
    background-color: #fafafa;
    border: 1px solid #c3c3c3;
    border-radius: .5rem;
    padding: 1rem;
    margin: .5rem 0 ;
    /* Layout */
    display: grid;
    grid-template-columns: 1fr auto;
    /* row-gap: .5rem; */
}

.item-info {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.main-box section header {
    line-height: 1.5rem;
    padding: 0;
}

.item-title {
    font-weight: 600;
}

.item-details {
    background-color: #fafafa;
    color: #020822;
    border: 1px solid #c3c3c3;
    font-weight: 500;
    padding: .5rem;
    border-radius: .5rem;
    transition: background-color .2s ease;
}

.item-details:hover {
    cursor: pointer;
    background-color: #002265;
    color: #fff;
}

.view-all {
    border: 1px solid #c3c3c3;
    padding: .75rem;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #020822;
    font-weight: 500;
    transition: background-color .2s ease;
}

.view-all:hover {
    background-color: #002265;
    color: #fff;
    cursor: pointer;
}

.item-time-count {
    font-weight: bold;
    color: #003399;
    display: flex;
    justify-content: end;
}

/* Notificações */
.notification-time {
    color: #64748b;  
}

/* Page: musicas.html */

.add-music {
    border: none;
    background-color: #003399;
    color: #fff;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .5rem;
    font-weight: 600;
    transition: box-shadow .2s ease;
}

.add-music:hover {
    cursor: pointer;
    box-shadow: 0 0 12px #020822;
}

.music-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
}