@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: "Montserrat", sans-serif;
    color: #020822;
    
    /* Layout */
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
}

header {
    padding: 1rem 2rem 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar {
    grid-row: 1 / 3;
    width: 16rem;
    height: 100vh;
    background-color: #003399;
    color: #fff;
    padding: 2rem;
}

.sidebar .box-title {
    margin-bottom: 2rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.sidebar .box-title h1 {
    font-size: 16pt;
} 

.sidebar .box-title img {
    width: 32px;
}
.sidebar .menu ul {
    list-style: none;
}

.sidebar .menu li, .sidebar .menu .exit span {
    padding: .5rem .75rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    border-radius: .75rem;
    transition: background-color .3s ease;
}

.sidebar .menu li:hover, .sidebar .menu .exit span:hover {
    background-color: #002265;
    cursor: pointer;
}

.sidebar .menu li img {
    width: 20px;
}

.sidebar .menu li a {
    text-decoration: none;
    font-weight: 700;
    font-size: 15pt;
    color: #fff;
}

.sidebar .menu .exit {
    border-top: 1px solid #c3c3c3;
    margin-top: 2rem;
    padding-top: 2rem;
    
}

.sidebar .menu .exit a {
    text-decoration: none;
    font-weight: 700;
    font-size: 15pt;
    color: #fff;
}

.sidebar .menu .exit span {
    display: flex;
    align-items: center;
    gap: .5rem;
    transition: background-color .3s ease;
}

.sidebar .menu .exit span img {
    width: 20px;
}

main {   
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.5rem;
}

.cards {
    flex-grow: 0;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap: 1rem;
}

.cards article {
    height: 5rem;
    border: 1px solid #c3c3c3;
    border-radius: .75rem;
    padding: 1rem;
}

.cards article img {
    width: 32px;
}

.main-box {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.5rem;
}

.main-box article {
    border: 1px solid #c3c3c3;
    border-radius: .75rem;
    padding: 1rem;
}
