button {
    font-family: "Montserrat", sans-serif;
    height: fit-content;
    width: fit-content;
}

.btn-item {
    border-radius: .5rem;
    border: 1px solid #c3c3c3;
    background-color: #fafafa;
    color: #020822;
    font-weight: 500;
    padding: .5rem;
    transition: background-color .2s ease;
}

.btn-item:hover {
    cursor: pointer;
    background-color: #002265;
    color: #fff;
}

.btn-view {
        border-radius: .5rem;
    border: 1px solid #c3c3c3;
    flex-grow: 0;
    background-color: #fff;
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #020822;
    font-weight: 500;
    transition: background-color .2s ease;
}

.btn-view:hover {
    background-color: #002265;
    color: #fff;
    cursor: pointer;
}

.add {
    border: none;
    background-color: #003399;
    color: #fff;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    padding: 1rem ;
    font-weight: 700;
    transition: box-shadow .2s ease;
}

.add:hover {
    cursor: pointer;
    box-shadow: 0 0 5px #020822;
}

label {
    font-weight: 700;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}

input {
    margin-top: .35rem;
    border: 1px solid #c3c3c3;
    border-radius: .5rem;
    width: 100%;
    padding: .75rem;
    color: #020822;
    transition: box-shadow .2s ease;
    font-size: 1rem;
}

input:focus {
    outline: none;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
}

input[type="number"] {
    width: 7rem;
    padding: .5rem;
    border-radius: .5rem;
    border: 1px solid #c3c3c3;

}

input[type="date"] {
    width: fit-content;
}

.form-field {
    display: flex;
    flex-direction: column;

}

.glass {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .1);
    backdrop-filter: blur(.09rem);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.crud-box {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 85vw;
    height: 85vh;
    border-radius: 1rem;
    border: 1px solid #c3c3c3;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, .5);
    padding: 1rem;
    position: relative;
}

.close-crud {
    position: absolute;
    right: 1rem;
    top: 1rem;
    /* transform: translateY(-50%); */
}

.close-crud:hover {
    cursor: pointer;
}

.crud-box > header {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.crud-box form {
    flex: 1 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: min-content;
    padding: .5rem;
    margin-top: 2.5rem;
    gap: 2rem;
}

.searchList {
    border: none;
    border-bottom: 2px solid #002265;
    border-radius: 0;
    /* background-color: linear-gradient(#8a8989, #ffffff00, 90deg); */

}

.searchList:focus {
    box-shadow: none;
}
